<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Map :)</title>
</head>
<div class="text"></div>
<h1>Get your Twitter map!</h1>
    <body>
    <form action="/map" method="post" >
        <input name="screen_name" placeholder="Screen name" type="text">
        <input name="bearer_token" placeholder="Your bearer token" type="text">
        <input type="submit" value="Create">
    </form>
</body>
</html>